{% extends 'admin/page.html.twig' %}

{% block title %}Comments moderation!{% endblock %}

{% block content %}
<h1>Comments pending moderation</h1>
<br />
{% if comments is empty %}
	<h2>No comments pending moderation!</h2>
{% endif %}
	{% for comment in comments %}
		<h2>Name: {{ comment.ime }}</h2>
		<p>{{ comment.komentar }}</p>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<a class="btn btn-info btn-block" href="
					{{ path('comment_moderate', {'id': comment.id, 'allow': 'true'}) }}">Allow coment</a>
				</div>
				<div class="col-sm mt-3 mt-sm-0">
					<a class="btn btn-info btn-block" href="
					{{ path('comment_moderate', {'id': comment.id, 'allow': 'false'}) }}">Delete comment</a>
				</div>
			</div>
		</div>
		<hr />
	{% endfor %}
{% endblock %}

{% block sidebar %}
<h2>Comments moderation</h2>
<p>Comments left by registered users will be shown here. You can allow them to show on blog or deny.</p>
{% endblock %}